body{
    background-color: #dabbd341;
}

a{
    text-decoration: none;
}

.centerProperty{
    display: flex;
    justify-content: center;
}

#imageContainer{
    margin-top: 20px;
}

#image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#handle-text{
    font-family: Pacifico;
    font-size: 26px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 18px;
}

.link-button{
    margin: 26px;
    text-align: center;
    font-family: "ABeeZee";
    font-weight: bold;

}

.link-button-text{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 12px;
}

#button1{
    color: red;
    border: 2px solid red;
}

#button1:active{
    color: white;
    background-color: red;
}

#button2{
    color: blue;
    border: 2px solid blue;
}

#button2:active{
    color: white;
    background-color: blue;
}

#button3{
    color: brown;
    border: 2px solid brown;
}

#button3:active{
    color: white;
    background-color: brown;
}

#button4{
    color: orangered;
    border: 2px solid orangered;
}

#button4:active{
    color: white;
    background-color: orangered;
}

#button5{
    color: darkcyan;
    border: 2px solid darkcyan;
}

#button5:active{
    color: white;
    background-color: darkcyan;
}

#button6{
    color: blueviolet;
    border: 2px solid blueviolet;
}

#button6:active{
    color: white;
    background-color: blueviolet;
}

.social-icon{
    font-size: 44px;
    color: black;
}

.social-icon:active{
    font-size: 52px;
    background-color: black;
    color: white;
    border-radius: 100%;
}

#platform{
    margin-top: 40px;
    margin-bottom: 40px;
}

#linkherb{
    color: green;
    font-family: "Bree Serif";
    font-size: larger;
    font-weight: bold;
    padding: 8px;
    border: 2px solid green;
    border-radius: 12px;
}

#linkherb:active{
    background-color: green;
    color: white;
}


